
        <h2>Busquedas</h2>
        <hr>

        <ul class="list-group">
            <li 
                routerLink=""
                class="list-group-item"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }">
                Buscar Por Pais
            </li>


            <li 
                routerLink="region"
                class="list-group-item"
                routerLinkActive="active"
                >
                Buscar por Region
            </li>


            <li 
                routerLink="capital"
                class="list-group-item"
                routerLinkActive="active"
                >
                Buscar por Capital
            </li>
        </ul>
  

    
