button:hover{
    background-color: black;
}

button:focus {
    outline: none;
}

.p-1 {
    padding: 1px;
}

.row {
    display: flex;
}

.col {
    flex-grow: 1;
    margin: 10px;
}

input {
    display: block;
    margin: 5px;
}